@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --clr-hero-section-bg: #fafafa;
  --clr-blue-primary: #2a62ff;
  --clr-footer-bg: #2e3469;
  --clr-primary-text: #1a1d24;
  --clr-inside-boxes: #8993a6;
  --clr-btn-text: #ffffff;

  /* Font-size */
  --fs-primary-heading: 4rem;
  --fs-btn-text: 1.6rem;
  --fs-secondary-heading: 3.6rem;
  --fs-boxes-heading: 2rem;
  --fs-boxes-details: 1.4rem;
  --fs-footer-text: 1.2rem;
}

html {
  font-size: 62.5%;
}

/**************    Attempting DRY Principle    *************/

.button {
  font-size: var(--fs-btn-text);
  cursor: pointer;
}
.font-family,
.button {
  font-family: "DM Sans", sans-serif;
}

/*********************************/
/*              NAVBAR           */
/*********************************/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 85vw;
  padding: 2rem 0.2rem;
}
.cms-logo {
  height: 3rem;
}

.sign-in-btn {
  background-color: var(--clr-btn-text);
  border: 1px solid var(--clr-blue-primary);
  border-radius: 20px;
  color: var(--clr-blue-primary);
  padding: 0.5rem 3.5rem;
}

/*********************************/
/*         HERO SECTION          */
/*********************************/

.section-1 {
  display: flex;
  justify-content: space-around;
  background-color: var(--clr-hero-section-bg);
}
.sub-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 5rem 0;
}
.heading-primary {
  font-size: var(--fs-primary-heading);
  font-family: "Poppins", sans-serif;
  color: var(--clr-primary-text);
  width: 35vw;
  /* line-height: -2; */
}
.section-description {
  font-size: 1.8rem;
  color: #40495c;
  width: 30vw;
}
.apply-btn {
  color: var(--clr-btn-text);
  background-color: var(--clr-blue-primary);
  border: 1px solid var(--clr-blue-primary);
  border-radius: 30px;
  padding: 1rem 2.5rem;
  width: 25rem;
  /* defined width for button because it was taking up all the space in flexbox */
}
.illustration-img {
  width: 100%;
}

/*********************************/
/*            SECTION 2          */
/*********************************/

.section-2 {
  padding: 5rem;
}

.secondary-heading {
  font-size: var(--fs-secondary-heading);
  color: var(--clr-primary-text);
  text-align: center;
  width: 75vw;
  margin: 0 auto;
}
.customer-companies {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

/*********************************/
/*            SECTION 3          */
/*********************************/

.section-3 {
  background-color: var(--clr-hero-section-bg);
  padding: 7rem 6rem;
}
.heading-tertiary {
  font-size: var(--fs-secondary-heading);
  color: var(--clr-primary-text);
  text-align: center;
  width: 65vw;
  margin: 0 auto;
}
.section-3-boxes {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding-top: 3rem;
}
.box-1 {
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.043);
  background-color: var(--clr-btn-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 30rem;
  gap: 1em;
  padding: 3rem;
}
.box-logo {
  width: 5rem;
}
/* defined width for box logo because it logo took all space because of flexbox */

.box-heading {
  font-size: var(--fs-boxes-heading);
  color: var(--clr-primary-text);

  text-align: center;
}
.box-details {
  font-size: var(--fs-boxes-details);
  color: var(--clr-inside-boxes);
  text-align: center;
}

/*********************************/
/*            FOOTER             */
/*********************************/

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-footer-bg);
  padding: 2.5rem;
}
.footer-section {
  width: 90vw;
  margin: 0 auto;
  /* padding: 2rem; */
}
.footer-box-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
}

.footert-text,
.footer-box-2 {
  font-size: var(--fs-footer-text);
  color: var(--fs-footer-text);
  color: #9597ae;
}

.footer-box-2 {
  display: flex;
  gap: 2rem;
  width: 30vw;
  margin: 0 auto;
}
